
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
  
}
.titulo{
    color: red;
 
}
header{
  
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
    font-family:"oswald", sans-serif;
    line-height: 2.5em;
    background-color: #ffff;
}

p{
    display: block;
    margin: 1em;
}
.box{
    display: flex;
    align-content: center;
}

img{
    height: 400px;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
   
    
}

.box{
    padding: 2rem; 
    display: block;
    
}



a{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    width: 150px;
    color: white;
    align-items: center;
    /* margin-top: 2rem; */
    
    padding: 0.8rem 1.8rem;
}
a:hover{
    cursor: pointer;
    opacity: 0.10rem; 
}

.card{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    background-color: #f1f1f1ff;
    margin-bottom: 2rem;
    display: flexbox;
    
}
.card2 img {
    order: 2;
   }

   .card4 img{
    order: 2;
   }